html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #e6ecf0;
}

.container {
  margin: 80px auto 0 auto;
  padding-top: 20px;
  max-width: 1200px;
  min-width: 800px;
}

.MuiGrid-container {
  /* flex-wrap: nowrap !important; */
}

.nav-container {
  margin: auto;
}

.nav-container svg {
  color: #fff;
}

a {
  text-decoration: none;
}
